<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    @foreach (var item in navItems)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@item.Href" Match="@item.Match">
                <span class="bi " Name="@item.IconName" aria-hidden="true"></span> @item.Text
            </NavLink>
        </div>
    }
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    <!-- public class NavItem -->
    <!-- { -->
    <!--     public string Id { get; set; } = default!; -->
    <!--     public string Href { get; set; } = default!; -->
    <!--     public string Text { get; set; } = default!; -->
    <!--     public string IconName { get; set; } = default!; -->
    <!--     public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix; -->
    <!-- } -->

    private IEnumerable<NavItem> navItems = Enumerable.Empty<NavItem>();

    protected override void OnInitialized()
    {
        navItems = GetNavItems();
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        return new List<NavItem>
{
new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Domů", Match = NavLinkMatch.All },
new NavItem { Id = "2", Href = "/ptackari", IconName = IconName.PeopleFill, Text = "Ptáčkaři" },
new NavItem { Id = "3", Href = "/souteze", IconName = IconName.CalendarCheckFill, Text = "Soutěže" },
new NavItem { Id = "4", Href = "/nastaveni", IconName = IconName.GearFill, Text = "Nastavení" },
};
    }
}
