@page "/souteze"
@inject BirdApiClient BAC

<PageTitle>Soutěže</PageTitle>

<Toasts class="p-3" Messages="messages" Delay="6000" Placement="ToastsPlacement.TopRight" />

<h1>Events</h1>

Welcome to your new app. Tohle by pak ideálně mělo nějaký "sortění", aby se dalo vybrat všechny/moje/účastním se/neúčastním se. Plus bych mohl vymyslet pagination, zakomponovanou rovnou v API, protože brzo asi bude hodně věcí. Tak uvidíme.

<Button Type="ButtonType.Link" To="/soutez/nova" Color="ButtonColor.Primary">Vytvořit soutěž</Button>

<CardGroup>

    @if (E is null || !E.Any())
    {
        <p>Žádné soutěže...</p>
    }
    else
    {
        @foreach (var e in E ?? Array.Empty<EventDto>())
        {
            <Card Style="width:18rem;">
                <CardBody>
                    <CardTitle>@e.Name</CardTitle>
                    <CardText>@e.PublicIdentifier A tady by mělo být info, že to je moje soutěž, anebo, který z mých ptáčkařů se jí účastní
                        (vyjmenovaní všichni).</CardText>
                    <Button Color="ButtonColor.Primary" To=@($"/soutez/{e.PublicIdentifier}/{e.Id}")
                        Type="ButtonType.Link">Zobrazit</Button>
                </CardBody>
            </Card>
        }
    }

</CardGroup>


@code {
    private ICollection<EventDto>? E = null;
    private List<ToastMessage> messages = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            E = await BAC.Event_GetAllAsync();
        }
        catch
        {
            var toast = new ToastMessage();
            toast.Type = ToastType.Warning;
            toast.Title = "Chyba";
            toast.HelpText = $"{DateTime.Now}";
            toast.Message = "Problém s načítáním soutěží. Zkontrolujte, že jste přihlášeni.";
            toast.AutoHide = true;

            messages.Add(toast);
        }
    }
}
