@page "/"
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject BirdApiClient BAC

<PageTitle>Home</PageTitle>

<h1>Hello, world! This is awesome...</h1>

Welcome @(UserDto?.UserName ?? "here")!

@code{
    private UserDto? UserDto = null;

    protected override async Task OnInitializedAsync(){
        UserDto = await LocalStorage.GetItemAsync<UserDto>("userDto");
    }
}
