@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Nav
@inject BirdApiClient BAC

<PageTitle>Vítej</PageTitle>

@if (UserDto is not null)
{
    <div class="text-center mt-5">
        <h1 class="mb-4">Vítej, @UserDto.DisplayName! 🐦</h1>

        <p class="lead">Vidíš ptáčka? Rychle ho běž zaznamenat!</p>

        <button class="btn btn-lg btn-success mt-3" @onclick="GoToNewRecord">
            ➕ Přidat nový záznam
        </button>
    </div>
}
else
{
    <div class="mt-5 text-center">
        <h1 class="mb-4">Vítej v ptáčkové aplikaci! 🐦</h1>
        <p>Pro používání aplikace se prosím přihlas.</p>
    </div>
}

@code {
    private UserDto? UserDto = null;

    protected override async Task OnInitializedAsync()
    {
        UserDto = await LocalStorage.GetItemAsync<UserDto>("userDto");
    }

    private void GoToNewRecord()
    {
        Nav.NavigateTo("/zaznam/novy");
    }
}
