@page "/"
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject BirdApiClient BAC

<PageTitle>Home</PageTitle>

<h1>Hello, world! This is awesome...</h1>

Welcome @(UserDto?.UserName ?? "here")!

<Button Color="ButtonColor.Danger" Size="ButtonSize.ExtraLarge" @onclick="LogOut">Odhlásit se</Button>
<Button Type="ButtonType.Link" Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge" To="/zaznam/novy">Přidat záznam</Button>

@code{
    private UserDto? UserDto = null;

    protected override async Task OnInitializedAsync(){
        UserDto = await LocalStorage.GetItemAsync<UserDto>("userDto");
    }

    private async Task LogOut(){
        await LocalStorage.RemoveItemAsync("authToken");
        await LocalStorage.RemoveItemAsync("authTokenExpireAt");

        NavManager.NavigateTo("/login");
    }
}
