@page "/login"
@layout LoggedOutLayout
@inject NavigationManager NavManager

<PageTitle>Pozorování ptáčků - přihlaste se!</PageTitle>

<div class="login-background">
    <div class="login-card shadow-sm">

        <div class="text-center">
            <img src="logo-sranda.png" alt="Logo" class="logo-img" />
        </div>

        <h1 class="h2 fw-bold">Pozorování ptáčků</h1>

        <LoginForm OnLoginSuccess="@OnSuccess" />

    </div>
</div>

@code {
    private void OnSuccess()
    {
        NavManager.NavigateTo("/");
    }
}
