@page "/nastaveni"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<PageTitle>Nastavení</PageTitle>

<h1>Settings</h1>

<Button Color="ButtonColor.Danger" Size="ButtonSize.ExtraLarge" @onclick="LogOut">Odhlásit se</Button>
Welcome to your new app.

@code{
    private async Task LogOut(){
        await LocalStorage.RemoveItemAsync("authToken");
        await LocalStorage.RemoveItemAsync("authTokenExpireAt");

        NavManager.NavigateTo("/login");
    }
}
