@page "/ptackari"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject BirdApiClient BAC

<PageTitle>Ptáčkaři</PageTitle>

<h1>Watchers</h1>

Welcome to your new app.

<div class="row">
    @if (W is null || !W.Any())
    {
        <p>Žádní ptáčkaři...</p>
    }
    else
    {
        @foreach (var watcherDto in W ?? Array.Empty<WatcherDto>())
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <Card class="h-100">
                    <CardBody>
                        <CardTitle>@watcherDto.FirstName @watcherDto.LastName</CardTitle>
                        <CardText>@watcherDto.PublicIdentifier</CardText>
                        <Button Color="ButtonColor.Primary" To=@($"/ptackar/{watcherDto.PublicIdentifier}/{watcherDto.Id}")
                            Type="ButtonType.Link">Zobrazit</Button>
                    </CardBody>
                </Card>
            </div>
        }
    }
</div>

